<!-- <div class="container">
  <h1>Photos</h1>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Thumbnail Url</th>
    </tr>
    <tr *ngFor="let photos of photos| paginate:{itemsPerPage:10, currentPage: page}">
      <td>{{ photos.title }}</td>
      <td><img [src]="photos.thumbnailUrl" /></td>
    </tr>
  </table>
  <pagination-controls (pageChange)="page=$event"></pagination-controls>
</div> -->
<div class="container">
  <!-- <div *ngfor ="let item of items$ | async">
      <b>ID: </b> {{item.id}}<br>
      <b>Title: </b>{{item.title}}<br>
      <img src="{{item.thumbnailUrl}}" alt=""> -->
      <table class="table table-bordered">
        <tr>
          <th>Title</th>
          <th>Thumbnail Url</th>
        </tr>
        <tr *ngFor="let item of items$ | async">
          <td>{{ item.title }}</td>
          <td><img [src]="item.thumbnailUrl" /></td>
        </tr>
      </table>
      <br>
      <br>
      <br>
      </div>
  