
<div class="tabbable">
  <ul class="nav nav-tabs">
     <li class="active" (click)="getDataList(0)">
      <a  data-toggle="tab" default-value="0">Posts</a></li>
     <li (click)="getDataList(1)">
      <a  data-toggle="tab">Comments</a></li>
     <li (click)="getDataList(2)"><a  data-toggle="tab">Albums</a></li>
  </ul>

  <div class="tab-content">
   <div *ngIf="activeTab==0">
      <div *ngFor="let row of dataList">
         <div class="tab-pane active" id="tab1">
            <h3>Title</h3>
              {{ row.title }} 
            
         </div>
         <div class="tab-pane active" id="tab1">
            <h3>Body</h3>
               {{ row.body }} 
         
         </div>
   </div>
   
   </div>
    

     <div class="tab-pane" id="tab2">
        <p> </p>
     </div>
    
    <div class="tab-pane" id="tab3">
      <p></p>
     </div>
  </div>
</div>