<!-- <h1>ALBUMS</h1>
<ul>
    <li *ngFor="let albums of albums">
      <a routerLink="">{{ albums.title }}</a>
    </li>
  </ul> -->
  <div class="container">
    <h1>Albums</h1>
    <div class="form-group">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching by entering any text" autofocus>
    </div>
    <table class="table table-bordered" >
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>
      <tr *ngFor="let albums of albums | searchFilter: searchText">
        <td>{{ albums.id }}</td>
        <td>{{ albums.title }}</td>
        <td>{{ albums.body }}</td>
      </tr>
    </table>
    
    <!-- <ngb-pagination [collectionSize]="albums.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination> -->
    <!-- <pagination-controls (pageChange)="page=$event"></pagination-controls> -->
 </div>