<!-- <h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label>Address</label><br>
        <label for="street">Street: </label>
        <input formControlName="street" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.streeterrors }" />

        <label for="city">City: </label>
        <input formControlName="city" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
        <br>
        <label for="suite">Suite: </label>
        <input formControlName="suite" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.suite.errors }" />

        <label for="zipcode">Zip Code: </label>
        <input formControlName="zipcode" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" formControlName="phone" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Omly number is allowed</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form> -->
<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h3 fw-bold">Sign up</p>

                <form class="mx-1 mx-md-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                  <div class="d-flex form-group">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" formControlName="name" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                      <label class="form-label" for="name">Your Name</label>
                      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                    </div>
                  </div>

                  <div class="d-flex form-group">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" formControlName="email" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                    </div>
                  </div>

                  <div class="d-flex form-group">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" formControlName="username" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <label class="form-label" for="username">Username</label>
                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                    </div>
                  </div>


                  <div class="d-flex form-group">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" formControlName="password" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <label class="form-label" for="password">Password</label>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                    </div>
                  </div>

                  <div class="d-flex form-group">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="phone" formControlName="phone" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                      <label class="form-label" for="phone">Phone</label>
                      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone is required</div>
                    </div>
                    </div>
                  </div>

                  <label>Address Details</label> 
                  <div class="form-group">
                  <div class="d-flex">                                   
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>                    
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" formControlName="street" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
                      <label class="form-label" for="street">Street</label>
                      <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                        <div *ngIf="f.street.errors.required">Street is required</div>
                    </div>
                    </div>
                  </div>

                  <div class="d-flex ">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" formControlName="city" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>
                      <label class="form-label" for="city">City</label>
                      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is required</div>
                    </div>
                    </div>
                  </div>

                  <div class="d-flex">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" formControlName="suite" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.suite.errors }" />
                      <label class="form-label" for="suite">Suite</label>
                      <div *ngIf="submitted && f.suite.errors" class="invalid-feedback">
                        <div *ngIf="f.suite.errors.required">Suite is required</div>
                    </div>
                    </div>
                  </div>

                  <div class="d-flex">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" formControlName="zipcode" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
                      <label class="form-label" for="zipcode">ZipCode</label>
                      <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                        <div *ngIf="f.zipcode.errors.required">ZipCode is required</div>
                    </div>
                    </div>
                  </div>
                </div>
                  <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <a routerLink="/login" class="btn btn-link">Cancel</a>
                </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>